# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

backend/.requirements.zip

# Virtual environments
venv/
.venv/

# OS and editor files
.DS_Store
.vscode/

# Test and coverage outputs
.pytest_cache/
.coverage
htmlcov/

# Log files
*.log

# Environment and secret files
.env
*.env